.JokesContainer {
    min-height: calc(100vh - 70px);
    padding-top: 40px;
}

.categorySelect {
    height: 34px;
    width: 92px;
    margin-top: 10px;
    text-align: center;
    border: 1px solid #333;
    font-size: 18px;
    color: #333;
    border-radius: 4px;
    padding: 4px;
}

.JokesHeading {
    font-size: 20px;
    color: #333;
    padding: 12px 0;
    letter-spacing: 0.3px;
}

.form {
    width: 230px;
    margin: 0 auto;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AppContainer {
    background-color: #eee;
}

.AppHeading {
    height: 70px;
    font-size: 26px;
    color: #333;
    margin-bottom: 0;
    padding: 16px 0;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 2px solid #777;
}

.appWrapper {
    width: 300px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .appWrapper {
        width: 640px;
    }
}
@media (min-width: 1024px) {
    .appWrapper {
        width: 920px;
    }
}
@media (min-width: 1440px) {
    .appWrapper {
        width: 1300px;
    }
}
